<ion-header>
  <ion-toolbar>
    <ion-title>Absolut Vodka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://cdn.worldvectorlogo.com/logos/absolut-vodka.svg"></ion-img>

    <ion-card-content>
        <p>
            Absolut Vodka est une marque de vodka appartenant au groupe public suedois Vin & Sprit jusqu’à l’été 2008, date de son rachat effectif par Pernod-Ricard.
            Elle est produite à Åhus, en Scanie, dans le sud de la Suède.
          La vodka Absolut Vodka est vendue en bouteille de 70cl et son taux d'alcool est de 40°.
          
        </p>
      </ion-card-content>

</ion-content>