<ion-header>
  <ion-toolbar>
    <ion-title>Bacardi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://image.dhgate.com/0x0/f2/albu/g7/M00/45/73/rBVaSVpmmKGAOYW_AABlY7VHNbQ148.jpg"></ion-img>

    <ion-card-content>
        <p>Bacardí est une entreprise de spiritueux, spécialisée notamment dans la production et la distribution de rhum. Fondée par Facundo Bacardí Masso à Santiago de Cuba le 4 février 1862,
          Bacardí est la plus grande entreprise familiale de spiritueux, produisant des rhums, notamment Bacardí Superior et Bacardí 151. Elle vend plus de 240 millions de bouteilles par an dans 170 pays, ce qui la situe au troisième rang mondial dans le secteur des spiritueux.
          Le rhum Bacardi est vendu en bouteille de 70cl et son taux d'alcool est de 37,5°.
        </p>
      </ion-card-content>

</ion-content>
