<ion-header>
  <ion-toolbar>
    <ion-title>Captain Morgan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://www.logolynx.com/images/logolynx/b9/b940164e4d2b346ecbc7e72f35149b69.jpeg"></ion-img>

    <ion-card-content>
        <p>
            Captain Morgan est une marque de liqueur distribué par Diageo. Ce nom fait référence au corsaire gallois Sir Henry Morgan qui écuma les Caraïbes au xviie siècle.

Captain Morgan est, par le volume, la deuxième marque de spiritueux la plus vendue aux États-Unis et la septième au monde.
Le rhum Captain Morgan est vendu en bouteille de 70cl et son taux d'alcool est de 35°.
        </p>
      </ion-card-content>

</ion-content>