<ion-header>
  <ion-toolbar>
    <ion-title>Jack Daniel's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/Jack_Daniels_Logo.svg/1200px-Jack_Daniels_Logo.svg.png"></ion-img>

    <ion-card-content>
        <p>
            Jack Daniel's est une distillerie américaine de Tennessee whiskey fondée par Jack Daniel en 1866, à Lynchburg, dans le Tennessee. La compagnie est la propriété du groupe Brown-Forman Corporation depuis 1957.
           Les bouteilles sont reconnaissables à leur forme carrée et à leur étiquette noire.   
        Le whisky Jack Daniel's est vendu en bouteille de 70cl et son taux d'alcool est de 40°.
        </p>
      </ion-card-content>

</ion-content>>
