<ion-header>
  <ion-toolbar>
    <ion-title>J&B</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://www.vinatis.com/img/m/506-custom.jpg"></ion-img>

    <ion-card-content>
        <p>
            J&B (Justerini & Brooks), propriété de la multinationale Diageo, est une marque de whisky blend (mélangé) écossais.
            J&B est le troisième whisky le plus vendu dans le monde, après Johnnie Walker et Ballantine's.
          Le whisky J&B est vendu en bouteille de 70cl et son taux d'alcool est de 40°.
        </p>
      </ion-card-content>

</ion-content>
