<ion-header>
  <ion-toolbar>
    <ion-title>Johnnie Walker (Red Label)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://upload.wikimedia.org/wikipedia/en/4/46/JWalker_2015_logo.png"></ion-img>

    <ion-card-content>
        <p>
            Connu à l'origine sous le nom de Walker's Kilmarnock Whisky, la marque Johnnie Walker est l'héritage de John « Johnnie » Walker,
             après qu'il eut commencé de vendre du whisky dans son épicerie de l'Ayrshire, en Écosse. 
          Johnnie Walker est une marque de scotch de type blended produite à Kilmarnock,
             en Écosse, et mondialement connue. Elle appartient au groupe Diageo.
          Le whisky Johnnie Walker est vendu en bouteille de 70cl et son taux d'alcool est de 35°.
        </p>
      </ion-card-content>

</ion-content>