<ion-header>
  <ion-toolbar>
    <ion-title>Poliakov</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStQ4ty-JqOLruCwAoOACgXhKy4SfF-F71NLPSwYzzgVDBC-hh7"></ion-img>

    <ion-card-content>
        <p>
            Poliakov est une marque française de vodka, faisant partie du groupe français La Martiniquaise.
            La vodka Poliakov est l'une des vodkas les plus consommées en France.
            La vodka Poliakov est vendue en bouteille de 70Cl et son taux d'alcool est de 35°.
        </p>
      </ion-card-content>

</ion-content>