<ion-header>
  <ion-toolbar>
    <ion-title>Rhum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item href="bacardi">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Bacardi</ion-label>
      </ion-item>
    
      <ion-item href="captain">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Captain Morgan</ion-label>
      </ion-item>
    
      <ion-item href="havana">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Havana Club</ion-label>
      </ion-item>

</ion-content>