<ion-header>
  <ion-toolbar>
    <ion-title>Ricard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img src="https://clubmazag.files.wordpress.com/2011/01/ricard_logo.gif"></ion-img>

    <ion-card-content>
        <p>
          La société Ricard est une société anonyme française fondée le 17 juillet 1932 à 
          Marseille par Paul Ricard. Elle appartient aujourd'hui au groupe Pernod Ricard 
          et produit le pastis Ricard, boisson à base d'anis vert et de réglisse.
          Le Ricard est vendu en bouteille de 1L et son taux d'alcool est de 45°.
        </p>
        
      </ion-card-content>


</ion-content>
