<ion-header>
  <ion-toolbar>
    <ion-title>Smirnoff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/90d8ae60-80a6-4e94-8f46-8c583f986953"></ion-img>

    <ion-card-content>
        <p> Smirnoff est une marque commerciale de vodka et de boissons alcoolisées à base de vodka appartenant au groupe Diageo.
            La première société Smirnov a été fondée à Moscou dans les années 1860 par Piotr Arsenievitch Smirnov. Sa distillerie est la première au monde à utiliser du fusain lors du processus de filtrage.
             En 1886, il reçoit le titre de fournisseur non officiel de la cour de Russie.
             Le vodka Smirnoff est vendue en bouteille de 70cl et son taux d'alcool est de 37.5°.
        </p>
      </ion-card-content>

</ion-content>
