<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://www.fourchette-et-bikini.fr/sites/default/files/styles/full_670x350/public/shutterstock_524896237.jpg?itok=GTUK4bln"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>SmartBibine</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bienvenue sur l'application SmartBibine, <br />
           la seule application qui permet de commander de l'alcool <br />
          et de se faire livrer.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
