<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcools
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item href="rhum">
    <ion-icon slot="start" color="medium" name="build"></ion-icon>
    <ion-label>Rhum</ion-label>
  </ion-item>

  <ion-item href="vodka">
    <ion-icon slot="start" color="medium" name="book"></ion-icon>
    <ion-label>Vodka</ion-label>
  </ion-item>

  <ion-item href="whisky">
    <ion-icon slot="start" color="medium" name="build"></ion-icon>
    <ion-label>Whisky</ion-label>
  </ion-item>
  
  <ion-item href="pastis">
    <ion-icon slot="start" color="medium" name="grid"></ion-icon>
    <ion-label>Pastis</ion-label>
  </ion-item>

</ion-content>