<ion-header>
  <ion-toolbar>
    <ion-title>
      Commande
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        Bacardi
      </ion-col>
      <ion-col>
        18,75€
      </ion-col>
      <ion-col>
        1
      </ion-col>
    </ion-row>

      
    <ion-row>
      <ion-col>
        Captain Morgan
      </ion-col>
      <ion-col>
        18,39€
      </ion-col>
      <ion-col>
        2
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Havana Club
      </ion-col>
      <ion-col>
        19,45€
      </ion-col>
      <ion-col>
        3
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Smirnoff
      </ion-col>
      <ion-col>
        14,55€
      </ion-col>
      <ion-col>
        4
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Poliakov
      </ion-col>
      <ion-col>
        13,79€
      </ion-col>
      <ion-col>
        5
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Absolut Vodka
      </ion-col>
      <ion-col>
        19,99€
      </ion-col>
      <ion-col>
        6
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        J&B
      </ion-col>
      <ion-col>
        16,99€
      </ion-col>
      <ion-col>
        7
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Jack Daniel's
      </ion-col>
      <ion-col>
        26,49€
      </ion-col>
      <ion-col>
        8
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Johnnie Walker (Red Label)
      </ion-col>
      <ion-col>
        17,49€
      </ion-col>
      <ion-col>
        9
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Pastis Duval
      </ion-col>
      <ion-col>
        15,35€
      </ion-col>
      <ion-col>
        10
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Pastis 51
      </ion-col>
      <ion-col>
        17,99€
      </ion-col>
      <ion-col>
        11
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Ricard
      </ion-col>
      <ion-col>
        25,49€
      </ion-col>
      <ion-col>
        12
      </ion-col>
    </ion-row>
        
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
        Nom:
        <input type="text" name="nom">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Prénom:
        <input type="text" name="prenom">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        Adresse:
        <input type="text" name="adresse">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Le tarif de la livraison est de 0,10€/km.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Alcool(s):
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <input type="radio" name="bacardi" value="Bacardi">1
        <input type="radio" name="captain" value="Captain Morgan">2
        <input type="radio" name="havana" value="Havana Club">3
        <input type="radio" name="smirnoff" value="Smirnoff">4
        <input type="radio" name="poliakov" value="Poliakov">5
        <input type="radio" name="absolut" value="Absolut Vodka">6
        <input type="radio" name="jb" value="J&B">7
        <input type="radio" name="jack" value="Jack Daniel's">8
        <input type="radio" name="johnnie" value="Johnnie Walker">9
        <input type="radio" name="duval" value="Pastis Duval">10
        <input type="radio" name="cinquant" value="Pastis 51">11
        <input type="radio" name="ricard" value="Ricard">12
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        
        <input type="submit" name="envoyer">
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>