<ion-header>
  <ion-toolbar>
    <ion-title>Whisky</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item href="jb">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>J&B</ion-label>
      </ion-item>
    
      <ion-item href="jack">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Jack Daniel's</ion-label>
      </ion-item>
    
      <ion-item href="johnnie">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Johnnie Walker (Red Label)</ion-label>
      </ion-item>

</ion-content>